#npm
node_modules
npm-debug.log

#mac
.DS_Store

#js

src/**/*.js

#demo
build/

#typings
typings/
.idea/
1.md
demo/js/demo.app.js
demo/js/demo.app.js.map
demo/js/index.js
demo/js/index.js.map
src/CoreOperations.js.map
src/Loader.js.map
src/RouteEditCoreOperations.js.map
src/components/editRoute.actions.js.map
src/components/editRoute.js.map
src/components/icon.js.map
src/components/map.js.map
src/controls/GeoControl.js.map
src/controls/NavigationControl.js.map
src/controls/OverviewMapControl.js.map
src/controls/ScaleControl.js.map
src/defaults.js.map
src/enum/ControlAnchor.js.map
src/enum/MapStatus.js.map
src/enum/NavigationControlType.js.map
src/index.js.map
src/interfaces/Icon.js.map
src/interfaces/MapObjct.js.map
src/interfaces/Options.js.map
src/interfaces/PreviousMarker.js.map
src/interfaces/PreviousPolygon.js.map
src/interfaces/Size.js.map
yarn-error.log
yarn.lock

